src/ClientLicenta_GUI/Service References/ServiceReference2/ServiceRead1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10925/ServiceRead.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO_Licenta" />
  <xs:element name="FillApplicantGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillApplicantGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillApplicantGridResult" nillable="true" type="q1:ArrayOfApplicantDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillEmployeeGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillEmployeeGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillEmployeeGridResult" nillable="true" type="q2:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillCustomerGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillCustomerGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillCustomerGridResult" nillable="true" type="q3:ArrayOfCustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillProjectGridResult" nillable="true" type="q4:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillInternGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillInternGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillInternGridResult" nillable="true" type="q5:ArrayOfInternDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillTaskGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillTaskGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillTaskGridResult" nillable="true" type="q6:ArrayOfTaskDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillHolidaysGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillHolidaysGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillHolidaysGridResult" nillable="true" type="q7:ArrayOfHolidayDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectEmployeesGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectEmployeesGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillProjectEmployeesGridResult" nillable="true" type="q8:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillNoteListBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillNoteListBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillNoteListBoxResult" nillable="true" type="q9:ArrayOfNoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillNewsBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillNewsBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillNewsBoxResult" nillable="true" type="q10:ArrayOfNewsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectComboBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectComboBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillProjectComboBoxResult" nillable="true" type="q11:ArrayOfProjectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxDepartmentResult" nillable="true" type="q12:ArrayOfDepartmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxJobResult" nillable="true" type="q13:ArrayOfJobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxApplicant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxApplicantResult" nillable="true" type="q14:ArrayOfApplicantDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxEmployeeResult" nillable="true" type="q15:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxCustomerResult" nillable="true" type="q16:ArrayOfCustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxProjectManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillComboBoxProjectManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="FillComboBoxProjectManagerResult" nillable="true" type="q17:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>