src/ClientLicenta_GUI/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO_Licenta" />
      <xsd:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB_Licenta.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadService_FillApplicantGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillApplicantGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillApplicantGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillApplicantGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillEmployeeGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillEmployeeGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillEmployeeGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillEmployeeGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillCustomerGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillCustomerGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillCustomerGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillCustomerGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillInternGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillInternGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillInternGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillInternGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillTaskGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillTaskGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillTaskGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillTaskGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillHolidaysGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillHolidaysGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillHolidaysGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillHolidaysGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectEmployeesGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectEmployeesGrid" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectEmployeesGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectEmployeesGridResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillNoteListBox_InputMessage">
    <wsdl:part name="parameters" element="tns:FillNoteListBox" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillNoteListBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillNoteListBoxResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillNewsBox_InputMessage">
    <wsdl:part name="parameters" element="tns:FillNewsBox" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillNewsBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillNewsBoxResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectComboBox_InputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectComboBox" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillProjectComboBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillProjectComboBoxResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxDepartment" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxJob_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxJob" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxJobResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxApplicant" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxEmployee" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxCustomer" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxProjectManager_InputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxProjectManager" />
  </wsdl:message>
  <wsdl:message name="IReadService_FillComboBoxProjectManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillComboBoxProjectManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertApplicant" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProject_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertIntern_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntern" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertIntern_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertInternResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNotes" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHoliday" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTask_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTask" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProjectStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProjectStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStatusTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusTask" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStatusTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadService">
    <wsdl:operation name="FillApplicantGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillApplicantGrid" message="tns:IReadService_FillApplicantGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillApplicantGridResponse" message="tns:IReadService_FillApplicantGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillEmployeeGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillEmployeeGrid" message="tns:IReadService_FillEmployeeGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillEmployeeGridResponse" message="tns:IReadService_FillEmployeeGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillCustomerGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillCustomerGrid" message="tns:IReadService_FillCustomerGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillCustomerGridResponse" message="tns:IReadService_FillCustomerGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillProjectGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillProjectGrid" message="tns:IReadService_FillProjectGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillProjectGridResponse" message="tns:IReadService_FillProjectGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillInternGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillInternGrid" message="tns:IReadService_FillInternGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillInternGridResponse" message="tns:IReadService_FillInternGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillTaskGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillTaskGrid" message="tns:IReadService_FillTaskGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillTaskGridResponse" message="tns:IReadService_FillTaskGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillHolidaysGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillHolidaysGrid" message="tns:IReadService_FillHolidaysGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillHolidaysGridResponse" message="tns:IReadService_FillHolidaysGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillProjectEmployeesGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillProjectEmployeesGrid" message="tns:IReadService_FillProjectEmployeesGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillProjectEmployeesGridResponse" message="tns:IReadService_FillProjectEmployeesGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillNoteListBox">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillNoteListBox" message="tns:IReadService_FillNoteListBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillNoteListBoxResponse" message="tns:IReadService_FillNoteListBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillNewsBox">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillNewsBox" message="tns:IReadService_FillNewsBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillNewsBoxResponse" message="tns:IReadService_FillNewsBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillProjectComboBox">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillProjectComboBox" message="tns:IReadService_FillProjectComboBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillProjectComboBoxResponse" message="tns:IReadService_FillProjectComboBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxDepartment" message="tns:IReadService_FillComboBoxDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxDepartmentResponse" message="tns:IReadService_FillComboBoxDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxJob" message="tns:IReadService_FillComboBoxJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxJobResponse" message="tns:IReadService_FillComboBoxJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxApplicant" message="tns:IReadService_FillComboBoxApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxApplicantResponse" message="tns:IReadService_FillComboBoxApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxEmployee" message="tns:IReadService_FillComboBoxEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxEmployeeResponse" message="tns:IReadService_FillComboBoxEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxCustomer" message="tns:IReadService_FillComboBoxCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxCustomerResponse" message="tns:IReadService_FillComboBoxCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxProjectManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/FillComboBoxProjectManager" message="tns:IReadService_FillComboBoxProjectManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/FillComboBoxProjectManagerResponse" message="tns:IReadService_FillComboBoxProjectManager_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authenticate" message="tns:IService1_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthenticateResponse" message="tns:IService1_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertApplicant" message="tns:IService1_InsertApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertApplicantResponse" message="tns:IService1_InsertApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEmployee" message="tns:IService1_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEmployeeResponse" message="tns:IService1_InsertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCustomer" message="tns:IService1_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCustomerResponse" message="tns:IService1_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertProject" message="tns:IService1_InsertProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertProjectResponse" message="tns:IService1_InsertProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntern">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertIntern" message="tns:IService1_InsertIntern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertInternResponse" message="tns:IService1_InsertIntern_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertNotes" message="tns:IService1_InsertNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertNotesResponse" message="tns:IService1_InsertNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertHoliday" message="tns:IService1_InsertHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertHolidayResponse" message="tns:IService1_InsertHoliday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertTask" message="tns:IService1_InsertTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertTaskResponse" message="tns:IService1_InsertTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProjectStatus" message="tns:IService1_UpdateProjectStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProjectStatusResponse" message="tns:IService1_UpdateProjectStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStatusTask" message="tns:IService1_UpdateStatusTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStatusTaskResponse" message="tns:IService1_UpdateStatusTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReadService" type="tns:IReadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillApplicantGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillApplicantGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillEmployeeGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillEmployeeGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillCustomerGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillCustomerGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillProjectGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillProjectGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillInternGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillInternGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillTaskGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillTaskGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillHolidaysGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillHolidaysGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillProjectEmployeesGrid">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillProjectEmployeesGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillNoteListBox">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillNoteListBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillNewsBox">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillNewsBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillProjectComboBox">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillProjectComboBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxDepartment">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxJob">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxApplicant">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxEmployee">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxCustomer">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillComboBoxProjectManager">
      <soap:operation soapAction="http://tempuri.org/IReadService/FillComboBoxProjectManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService1/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertApplicant">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntern">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertIntern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotes">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHoliday">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertHoliday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProjectStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusTask">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStatusTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IReadService" binding="tns:BasicHttpBinding_IReadService">
      <soap:address location="http://localhost:37164/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:37164/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>