src/ClientLicenta_GUI/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB_Licenta.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_Licenta.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO_Licenta" />
  <xs:complexType name="PriorityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriorityID" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityLevel" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO_Licenta" minOccurs="0" name="Tasks" nillable="true" type="q1:ArrayOfTaskDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorityDTO" nillable="true" type="tns:PriorityDTO" />
</xs:schema>