src/ClientLicenta_GUI/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO_Licenta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO_Licenta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37164/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB_Licenta.Models" />
  <xs:complexType name="LoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDTO" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoginID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="tns:NoteDTO" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDTO" nillable="true" type="tns:LoginDTO" />
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDTO" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FileNumber" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Holidays" nillable="true" type="tns:ArrayOfHolidayDTO" />
      <xs:element minOccurs="0" name="Interns" nillable="true" type="tns:ArrayOfInternDTO" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="tns:JobDTO" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logins" nillable="true" type="tns:ArrayOfLoginDTO" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PNC" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProjectDTO" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
      <xs:element minOccurs="0" name="Studies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTaskDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
  <xs:complexType name="DepartmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployeeDTO" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registrations" nillable="true" type="tns:ArrayOfRegistrationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDTO" nillable="true" type="tns:DepartmentDTO" />
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
  <xs:complexType name="ArrayOfRegistrationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationDTO" nillable="true" type="tns:RegistrationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationDTO" nillable="true" type="tns:ArrayOfRegistrationDTO" />
  <xs:complexType name="RegistrationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicant" nillable="true" type="tns:ApplicantDTO" />
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="AppliedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDTO" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="tns:JobDTO" />
      <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Observation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationDTO" nillable="true" type="tns:RegistrationDTO" />
  <xs:complexType name="ApplicantDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interns" nillable="true" type="tns:ArrayOfInternDTO" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registrations" nillable="true" type="tns:ArrayOfRegistrationDTO" />
      <xs:element minOccurs="0" name="Studies" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantDTO" nillable="true" type="tns:ApplicantDTO" />
  <xs:complexType name="ArrayOfInternDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InternDTO" nillable="true" type="tns:InternDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInternDTO" nillable="true" type="tns:ArrayOfInternDTO" />
  <xs:complexType name="InternDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicant" nillable="true" type="tns:ApplicantDTO" />
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDTO" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InternID" type="xs:int" />
      <xs:element minOccurs="0" name="Observation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternDTO" nillable="true" type="tns:InternDTO" />
  <xs:complexType name="JobDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployeeDTO" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registrations" nillable="true" type="tns:ArrayOfRegistrationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDTO" nillable="true" type="tns:JobDTO" />
  <xs:complexType name="ArrayOfHolidayDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HolidayDTO" nillable="true" type="tns:HolidayDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHolidayDTO" nillable="true" type="tns:ArrayOfHolidayDTO" />
  <xs:complexType name="HolidayDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDTO" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HolidayID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolidayDTO" nillable="true" type="tns:HolidayDTO" />
  <xs:complexType name="ArrayOfLoginDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginDTO" nillable="true" type="tns:LoginDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginDTO" nillable="true" type="tns:ArrayOfLoginDTO" />
  <xs:complexType name="ArrayOfProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDTO" nillable="true" type="tns:ArrayOfProjectDTO" />
  <xs:complexType name="ProjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerDTO" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDTO" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTaskDTO" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDTO" nillable="true" type="tns:ProjectDTO" />
  <xs:complexType name="CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
  <xs:complexType name="ArrayOfTaskDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDTO" nillable="true" type="tns:TaskDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDTO" nillable="true" type="tns:ArrayOfTaskDTO" />
  <xs:complexType name="TaskDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDTO" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Observations" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB_Licenta.Models" minOccurs="0" name="Priority" nillable="true" type="q1:PriorityDTO" />
      <xs:element minOccurs="0" name="PriorityID" type="xs:int" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDTO" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDTO" nillable="true" type="tns:TaskDTO" />
  <xs:complexType name="NoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="tns:LoginDTO" />
      <xs:element minOccurs="0" name="NoteID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteDTO" nillable="true" type="tns:NoteDTO" />
  <xs:complexType name="ArrayOfApplicantDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantDTO" nillable="true" type="tns:ApplicantDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantDTO" nillable="true" type="tns:ArrayOfApplicantDTO" />
  <xs:complexType name="ArrayOfCustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDTO" nillable="true" type="tns:ArrayOfCustomerDTO" />
  <xs:complexType name="ArrayOfNoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteDTO" nillable="true" type="tns:NoteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteDTO" nillable="true" type="tns:ArrayOfNoteDTO" />
  <xs:complexType name="ArrayOfNewsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsDTO" nillable="true" type="tns:NewsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsDTO" nillable="true" type="tns:ArrayOfNewsDTO" />
  <xs:complexType name="NewsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsDTO" nillable="true" type="tns:NewsDTO" />
  <xs:complexType name="ArrayOfDepartmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDTO" nillable="true" type="tns:DepartmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDTO" nillable="true" type="tns:ArrayOfDepartmentDTO" />
  <xs:complexType name="ArrayOfJobDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDTO" nillable="true" type="tns:JobDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDTO" nillable="true" type="tns:ArrayOfJobDTO" />
</xs:schema>